body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header {
    display: flex;
    height: 38px;
    background: #F8F8FA;
    color: #6e767e;
    align-items: center;
    border-bottom: solid #F8F8FA 1px;
}

.search-block {
    flex: 5;
    max-width: 500px;
    background: #ebebed;
    border-radius: 5px;
    border: solid #E1E2E5 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-block:hover {
    border-color: #989CA0;
}

.search-block > input {
    padding-left: 10px;
    flex: 20;
    height: 20px;
    background: inherit;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-block > input:hover {
    border: none;
}

.search-block > input:focus {
    outline: none;
}

.search-block > i {
    flex: 1;
}

.history-block {
    padding: 0 32px 0 16px;
    flex: 1;
}

.help-block {
    padding: 0 16px 0 32px;
    flex: 1;
}

.history-block, .help-block {
    text-align: right;
}

header button {
    align-items: center;
    border: none;
    background-color: inherit;
    color: #6e767e;
    padding: 0;
    width: 24px;
    height: 24px;
}

header button:hover {
    cursor: pointer;
    background-color: #E2E3E5;
    color: #383F45;
    border-radius: 4px;
}

header button:focus {
    outline: none;
}